extends layout

block content
    h1 Log in

    p This will be the login form for the user to attempt a login.

    form(method='POST' action='')
        label(for='email') Email:
        input(type='text', placeholder="email@domain.tld", name='email')
        br
        label(for='password') Password:
        input(type='password', placeholder="password", name='password')
        br
        button(type='submit') Log in

    if err
        h3 The following error occured:
        p= err
